<div th:fragment="recconect-modal">
    <div class="modal" id="modal-example" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-label">サーバーとの通信が切断されました。</h4>
                </div>
                <div class="modal-body">
                    OKをタップすると再接続を行います。
                </div>
                <div class="modal-footer">
                    <a id="reconnect-btn" type="button" class="btn btn-primary" href="#">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>